{%- comment -%}

Used to render your shop's pages
https://shopify.dev/docs/themes/theme-templates/page-liquid

{%- endcomment -%}

<h1>{{ page.title }}</h1>
<div>{{ page.content }}</div>

{% section 'main' %}
