<footer class="footer">
  <div class="columns">
    <div class="column">
      <div class="content has-text-centered">
        <p>
          <strong>{{ settings.store_name }}</strong><br> 
          {{ settings.store_slogan }}
        </p>
      </div>
    </div>

    {% for block in section.blocks %}
      <div class="column">
        {{ block.settings.footer_text }}
        {{ block.settings.navigation }}
      </div>
    {% endfor %}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 3,
    "tag": "section",
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "id": "footer_text",
            "type": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "link_list",
        "name": "Menu",
        "settings": [
          {
            "id": "footer_nav",
            "type": "link_list",
            "label": "Add a Menu"
          }
        ]
      }
    ]
  }
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}