<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        {% comment %} {% for slide in (1..10) %}
            {% render 'swiper-slide', number: slide %}
        {% endfor %} {% endcomment %}

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'image_picker' %}
              {% render 'swiper-slide', 
                attributes: block.shopify_attributes,
                title: block.settings.swiper_image_title, 
                image: block.settings.swiper_image %}
            {% endcase %}
        {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<script>
$(function () {
  const swiper = new Swiper(".swiper-container", {
    slidesPerView: {{ section.settings.swiper_slidesPerView }},
    //spaceBetween: 30,
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
});
</script>

{% schema %}
  {
    "name": "Swiper",
    "tag": "section",
    "max_blocks": 5,
    "settings": [
        {
            "type": "text",
            "id": "swiper_title",
            "label": "Title",
            "default": "Swiper Title"
        },
        {
          "type": "range",
          "id": "swiper_slidesPerView",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "num",
          "label": "Slides Per View",
          "default": 1
        }
    ],
    "blocks": [
        {
          "type": "image_picker",
          "name": "Image",
          "settings": [
            {
              "type": "text",
              "id": "swiper_image_title",
              "label": "Title"
            },
            {
              "type": "image_picker",
              "id": "swiper_image",
              "label": "Slide"
            }
          ]
        }
    ],
    "presets": [
      {
        "name": "Swiper",
        "category": "Slideshows"
      }
    ]
  }
{% endschema %}

{% stylesheet 'scss' %}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: calc((100% - 30px) / 2);

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}